@import url("https://fonts.googleapis.com/css?family=Nunito");
body {
  background-image: url("https://images.unsplash.com/photo-1547563216-9efe68ce596f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.flipcard {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.flipcard.is-flipped {
  transform: rotateY(180deg);
}

.flipcard__face {
  position: absolute;
  color: white;
  width: 604px;
  height: 404px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipcard__face--front {
  background: #1f333b;
}

.flipcard__face--back {
  background: #1f333b;
  transform: rotateY(180deg);
}

.postop {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-in-card {
  width: 100%;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 1em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 1em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}
